{% load i18n static %}

<div class="breaking-news-area d-flex align-items-center">
    <div class="news-title">
       <p>Flash info :</p>
    </div>
    <div id="breakingNewsTicker" class="ticker">
        <ul>
            {% for post in posts %}
                <li>
                    <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                        {{ post.title|safe|truncatewords:6 }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>
