        {% load i18n static %}
        {% static "img/core-img/logo.png" as logo %}
        {% static "img/bg-img/23.jpg" as 23 %}

        <!-- liste des regions -->
        <div class="container-fluid">
            <div class="row d-flex align-items-center text-center">
                <div class="col-12">
                    <div class="d-none d-lg-inline-block">
                        {% for r in region %}
                            <a href="/" title="{{ r|upper }}" class="small font-weight-bold text-muted">{{ r|upper }}</a>
                            {% if not forloop.last %}&smid;{% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div><!-- ./liste des regions -->

        <!-- top header -->
        <header class="header-area">
            <div class="top-header-area">
                <div class="container">
                    <div class="row align-items-center">
                        <!-- flash info -->
                        <div class="col-12 col-md-6">
                            {% include "_includes/breaking.html" %}
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="top-meta-data d-flex align-items-center justify-content-end">
                                <!-- social link -->
                                <div class="top-social-info">
                                    <a href="#" title="Suivez-nous sur facebook">
                                        <i class="fa fa-facebook"></i>
                                    </a>
                                    <a href="#" title="Suivez-nous sur Twitter">
                                        <i class="fa fa-twitter"></i>
                                    </a>
                                    <a href="#" title="Suivez-nous sur youtube">
                                        <i class="fa fa-youtube-play"></i>
                                    </a>
                                </div>

                                <!-- barre de recherche -->
                                <div class="top-search-area">
                                    <form role="search" action="{% url "blog:search" %}" method="get">
                                        {% csrf_token %}
                                        <input type="search" name="q" id="topSearch" placeholder="Search...">
                                        <button type="submit" class="btn"><i class="fa fa-search" aria-hidden="true"></i></button>
                                    </form>
                                </div>

                                <!-- Login -->
                                <a href="#" class="login-btn">
                                    <i class="fa fa-user" aria-hidden="true"></i>
                                </a>

                                <a href="#" class="login-btn">
                                    <i class="fa fa-support" aria-hidden="true"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- navigation -->
            <div class="vizew-main-menu" id="sticker">
                <div class="classy-nav-container breakpoint-off">
                    <div class="container">
                        <nav class="classy-navbar justify-content-between" id="vizewNav">

                            <!-- navbar brand -->
                            <div class="nav-brand">
                                <a href="/"><img src="{{ logo }}" alt="{{ site_name }}"></a>
                            </div>

                            <!-- navbar Toggler -->
                            <div class="classy-navbar-toggler">
                                <span class="navbarToggler"><span></span><span></span><span></span></span>
                            </div>

                            <!-- Menu -->
                            <div class="classy-menu">
                                <!-- close btn -->
                                <div class="classycloseIcon">
                                    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                                </div>

                                <!-- Nav Start -->
                                <div class="classynav">
                                    <ul>
                                        <li><a href="/">à la une </a></li>
                                        <li><a href="#">Politique</a></li>
                                        <li><a href="#">Economie &amp; Business</a></li>
                                        <li><a href="#">Société &amp; Culture</a></li>
                                        <li><a href="#">Sports</a></li>
                                        <li><a href="#">Dossiers</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Technologies</a></li>
                                                <li><a href="">Portrait</a></li>
                                                <li><a href="">Enquête</a></li>
                                                <li><a href="">Interview</a></li>
                                                <li><a href="">Contact</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div><!-- Nav End -->
                            </div>
                        </nav>
                    </div>
                </div>
            </div><!-- ./navigation -->
        </header><!-- ./header -->
