        {% load static blog_tags %}
        {% get_static_prefix as STATIC_PREFIX %}

        <!--[if IE 7]><html class="ie ie7"><![endif]-->
        <!--[if IE 8]><html class="ie ie8"><![endif]-->
        <!--[if IE 9]><html class="ie ie9"><![endif]-->

        <meta charset="UTF-8">
        <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
        <link rel="alternate" type="application/rss+xml" title="" href="{% url 'blog:post_feed' %}">
        <meta http-equiv="content-type" content="text/html; X-Content-Type-Options=nosniff">
        <meta http-equiv="content-type" content="application/xhtml+xml; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
        <meta name="format-detection" content="telephone=no">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="keywords" content="{{ meta_keywords }}">
        <meta name="description" content="{{ site_desc }}">
        <meta name="robots" content="noindex, follow">
        <meta rel="canonical" href="{{ site_name }}">

        {# mediapart #}
        <meta property="" content="">
        <meta property="" content="">
        <meta property="og:locale" content="fr_FR">
        <meta property="og:site_name" content="{{ site_name }}">
        <meta property="og:type" content="article">
        <meta property="og:url" content="{% url 'blog:post_listing' %}{{ posts.get_absolute_url }}">
        <meta property="og:title" content="{{ site_desc }} &smid; {{ site_name }}">
        <meta property="og:description" content="{{ site_desc }}">
        <meta property="og:image" content="">

        <meta name="twitter:card" content="summary">
        <meta property="twitter:url" content="{% url 'blog:post_listing' %}">
        <meta name="twitter:title" content="{{ site_desc }} &smid; {{ site_name }}">
        <meta name="twitter:description" content="{{ site_desc }}">
        <meta property="twitter:image" content="">
        <meta property="twitter:site" content="@{{ site_name }}">
        <meta name="twitter:creator" content="@{{ site_name }}">

        <!-- ./meta -->

        <!-- custom style -->
        <link href="{{ STATIC_PREFIX }}css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/social-likes-next/dist/social-likes_flat.css">

        <!--[if IE 7]><body class="ie7 lt-ie8 lt-ie9 lt-ie10"><![endif]-->
        <!--[if IE 8]><body class="ie8 lt-ie9 lt-ie10"><![endif]-->
        <!--[if IE 9]><body class="ie9 lt-ie10"><![endif]-->
