{% load i18n static blog_tags  %}

<div class="col-12 col-md-5 col-lg-4">
    <div class="sidebar-area">
        <!-- widget actualite dans nos régions -->
        <div class="single-widget latest-video-widget">
            <div class="section-heading style-2 mb-2">
                <h4 class="text-success">à la une</h4>
                <div class="line"></div>
            </div>

            <!-- single blog post -->
            {% for post in posts %}
                <div class="single-post-area mb-2">
                    <!-- post content -->
                    <div class="post-content">
                        {% for cat in post.regions.all %}
                            <a href="{{ cat.get_absolute_url }}" class="post-cata cata-sm cata-success">{{ cat.name|safe|upper }}</a>
                            {% if forloop.last %} {% endif %}
                        {% endfor %}
                        {% for cat in post.categories.all %}
                            <a href="{{ cat.get_absolute_url }}" class="post-cata cata-sm cata-success">{{ cat.name|safe|upper }}</a>
                            {% if forloop.last %} {% endif %}
                        {% endfor %}

                        <div class="post-meta d-flex">
                            <a><i class="fa fa-calendar-o mr-1" aria-hidden="true"></i>
                            {{ post.publish|date }}</a>
                            <a><i class="fa fa-user-o mr-1" aria-hidden="true"></i>
                            {{ post.author|safe }}</a>
                        </div>
                        <a href="{{ post.get_absolute_url }}" class="post-title small text-muted">{{ post.title|safe }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- widget timeline : actualité en continue -->
        <div class="single-widget">
            <div class="section-heading style-2 mb-1">
                <h4 class="text-success">communiqués</h4>
                <div class="line"></div>
            </div>

            <div class="single-post-area mb-2">
                <div class="content">
                    <ul class="timeline">
                        {% for post in posts %}
                        <li class="timeline-item bg-gray rounded-0 ml-2 p-2 shadow-none">
                            <div class="timeline-arrow"></div>
                            <span class="small">
                                <i class="fa fa-clock-o mr-1"></i>
                                {{ post.publish|date }}
                            </span>
                            <h6 class="text-muted text-small h6 font-weight-bold mb-0"><a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title|safe }}</a></h6>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>

        <!-- widget actualite dans nos régions -->
        <div class="single-widget latest-video-widget">
            <div class="section-heading style-2 mb-2">
                <h4 class="text-success">en région</h4>
                <div class="line"></div>
            </div>

            <!-- single blog post -->
            {% for post in posts %}
                <div class="single-post-area mb-2">
                    <!-- post thumbnail -->
                    <div class="post-thumbnail">
                        <img src="{% if post.image %}{{ post.image.url }}{% endif %}"
                        alt="{{ post.title }}">
                    </div>

                    <!-- post content -->
                    <div class="post-content">
                        {% for cat in post.regions.all %}
                            <a href="{{ cat.get_absolute_url }}" class="post-cata cata-sm cata-success">{{ cat.name|safe|upper }}</a>
                            {% if forloop.last %} {% endif %}
                        {% endfor %}
                        {% for cat in post.categories.all %}
                            <a href="{{ cat.get_absolute_url }}" class="post-cata cata-sm cata-success">{{ cat.name|safe|upper }}</a>
                            {% if forloop.last %} {% endif %}
                        {% endfor %}

                        <div class="post-meta d-flex">
                            <a><i class="fa fa-calendar-o mr-1" aria-hidden="true"></i>
                            {{ post.publish|date }}</a>
                            <a><i class="fa fa-user-o mr-1" aria-hidden="true"></i>
                            {{ post.author|safe }}</a>
                        </div>
                        <a href="{{ post.get_absolute_url }}" class="post-title small text-muted">{{ post.title|safe }}
                        </a>
                    </div>
                </div>
            {% endfor %}
        </div>

        <!-- widget newsletter-->
        <div class="single-widget newsletter-widget">
            <div class="section-heading style-2 mb-3">
                <h4 class="text-success">newsletter</h4>
                <div class="line"></div>
            </div>
            <p>Subscribe our newsletter gor get notification about new updates, information discount.</p>
            <!-- formulaire d'abonnement -->
            <div class="newsletter-form">
                <form action="#" method="post">
                    <input type="email" name="nl-email" class="form-control mb-15" id="emailnl" placeholder="Enter your email">
                    <button type="submit" class="btn vizew-btn w-100">S'abonner</button>
                </form>
            </div>
        </div>

        <!-- widget resaeux sociaux -->
        <div class="single-widget followers-widget">
            <a href="#" class="facebook"><i class="fa fa-facebook" aria-hidden="true"></i><span class="counter">198</span><span>Followers</span></a>
            <a href="#" class="twitter"><i class="fa fa-twitter" aria-hidden="true"></i><span class="counter">220</span><span>Followers</span></a>
            <a href="#" class="google"><i class="fa fa-google" aria-hidden="true"></i><span class="counter">140</span><span>Subscribe</span></a>
        </div>
    </div>
</div>
