        {% load static %}
        {% get_static_prefix as STATIC_PREFIX %}
        <!-- jquery files-->
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery/jquery.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap/popper.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap/bootstrap.min.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/plugins/plugins.js"></script>
        <script type="text/javascript" src="{{ STATIC_PREFIX }}js/active.js"></script>
