    {% load static %}
    {% get_static_prefix as STATIC_PREFIX %}
    <!-- jquery files-->
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/jquery.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/popper.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/bootstrap.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/plugins.js"></script>
    <script type="text/javascript" src="{{ STATIC_PREFIX }}js/active.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/social-likes-next/dist/social-likes.min.js">
    </script>
