{% extends "base.html" %}

{% load static blog_tags i18n %}
{% block featured_post_area %}
    <div class="blog-area section-padding-0-80 mt-5">
        <div class="container">
            <div class="row">
                {% if queryset %}
                    <div class="col-12 col-lg-8">
                        <div class="blog-posts-area">
                            <!-- Single Featured Post -->
                            <h5>
                                {% with queryset.count as total_results %}
                                Nous avons trouvés {{ total_results }} résultat{{ total_results|pluralize }} pour vous.
                                {% endwith %}
                            </h5>

                            {% for post in queryset %}
                                <div class="single-blog-post featured-post mb-5">
                                    <div class="post-data">
                                        {% for cat in post.categories.all %}
                                        <a class="post-catagory d-inline-block" href="{{ cat.get_absolute_url }}" title="{{ cat.name }}">{{ cat.name }}</a>
                                        {% if not forloop.last %}, {% endif %}
                                        {% endfor %}

                                        <a href="{{ post.get_absolute_url }}" title="{{ post.title }}" class="post-title">
                                            <h6>{{ post.title|safe }}</h6>
                                        </a>

                                        <div class="post-meta">
                                            <p class="post-author">Publié par {{ post.author }} à <a>{{ post.publish|date }}</a></p>
                                            <p class="post-excerp">{{ post.body|safe|truncatewords:35 }}</p>
                                        </div>
                                    </div>
                                </div>
                            {% empty %}
                                <p>There are no results for your query.</p>
                            {% endfor %}
                        </div>
                    </div>

                    <div class="col-12 col-lg-4">
                        <div class="blog-sidebar-area">
                            <!-- Latest Posts Widget -->
                            <div class="latest-posts-widget mb-50">
                                <!-- Single Featured Post -->
                                {% include "_includes/sidebar.html" %}
                            </div>

                            <!-- Newsletter Widget -->
                            <div class="newsletter-widget mb-5">
                                <h4>Newsletter</h4>
                                <p>Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                                <form action="#" method="post">
                                    <input type="text" name="text" placeholder="Name">
                                    <input type="email" name="email" placeholder="Email">
                                    <button type="submit" class="btn w-100">Subscribe</button>
                                </form>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock featured_post_area %}
