    {% extends "base.html" %}
    {% load static blog_tags i18n %}


    <!-- single post detail -->
    {% block hero_area %}
        <!-- breadcrumb -->
        <div class="vizew-breadcrumb">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/" class="text-uppercase">
                                        <i class="fa fa-home" aria-hidden="true"></i>
                                        accueil
                                    </a>
                                </li>
                                <li class="breadcrumb-item">
                                    {% for cat in post.categories.all %}
                                        <a href="{{ cat.get_absolute_url }}">
                                            {{ cat.name|upper }}
                                        </a>
                                        {% if not forloop.last %}&smid; {% endif %}
                                    {% endfor %}
                                </li>
                                <li class="breadcrumb-item active" aria-current="page">
                                    {{ post.title|truncatewords:10|safe }}
                                </li>
                            </ol>
                        </nav>
                    </div>
                </div>
            </div>
        </div><!-- ./breadcrumb -->

        <!-- ##### Post Details Area Start ##### -->
        <section class="post-details-area mb-80">
            <div class="container">
                <div class="row justify-content-center">
                    <!-- post detail content -->
                    <div class="col-12 col-lg-8">
                        <div class="post-details-content d-flex">
                            <!-- post share -->
                            <div class="post-share-info">
                                <p class="text-capitalize">partager</p>
                                <a href="#" class="twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" class="facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                            </div>

                            <!-- content -->
                            <div class="blog-content">
                                <div class="post-content mt-0">
                                    {% for cat in post.categories.all %}
                                        <a href="{{ cat.get_absolute_url }}" class="post-cata cata-sm cata-danger">{{ cat.name|upper }}</a>
                                    {% endfor %}

                                    <a href="{{ post.get_absolute_url }}" class="post-title mb-2">
                                        {{ post.title|safe|title }}
                                    </a>

                                    <div class="d-flex justify-content-between mb-3">
                                        <div class="post-meta d-flex align-items-center">
                                            <a><i class="fa fa-user-o mr-1" aria-hidden="true"></i>{{ post.author|safe }}</a>
                                            <a><i class="fa fa-calendar-o mr-1" aria-hidden="true"></i>{{ post.publish|date }}</a>
                                        </div>
                                        <div class="post-meta d-flex">
                                            <a><i class="fa fa-eye mr-1" aria-hidden="true"></i>
                                            {{ post.count }}</a>
                                            <a><i class="fa fa-calendar-o mr-1" aria-hidden="true"></i>{{ post.publish|date }}</a><a><i class="fa fa-user-o mr-1" aria-hidden="true"></i>{{ post.author|safe }}</a>
                                        </div>
                                    </div>
                                </div>

                                <p>{{ post.body|safe }}</p>

                                <!-- post tags -->

                                <!-- post author description -->

                                <!-- related post -->
                                {% include "post/blog_post_similar.html" %}

                                <!-- comment list -->

                                <!-- add comment -->

                            </div>
                        </div>
                    </div>

                    <!-- sidebar widget -->
                    {% include "_includes/post_sidebar.html" %}
                </div>
            </div>
        </section>
    {% endblock hero_area %}


