{% load static blog_tags %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
    </head>

    <body>
        {% block content %}
            {% for post in posts %}
                <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">{{ post.title }}</a>
                <small>{{ post.publish }} by {{ post.author }}</small>
                {% if tag %}
                    <h3>Posts tagged with "{{ tag.name }}"</h3>
                {% endif %}
                <p>{{ post.body|markdown|truncatewords_html:30 }}</p>

                <p>
                    {% if post.tags.all %}
                        Tags:
                        {% for tag in post.tags.all %}
                            <a href="{% url "blog:post_listing_by_tag" tag.slug %}" title="{{ tag.name }}">
                                {{ tag.name }}
                            </a>
                            {% if not forloop.last %}, {% endif %}
                        {% endfor %}
                    {% endif %}
                </p>
            {% endfor %}

            <p>
                <h2>
                    This is my blog. I've written {% total_posts %} posts so far.
                </h2>

                <h3>
                    Latest posts
                </h3>
                {% show_latest_posts 3 %}

                <h4>Most commentd posts</h4>
                {% get_most_commented_posts as most_commented_posts %}
                <ul>
                    {% for post in most_commented_posts %}
                        <li>
                            <a href="{{ post.get_absolute_url }}" title="{{ post.title }}">
                                {{ post.title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>

                <span>
                    <a href="{% url "blog:post_feed" %}">Subscribe to my RSS feed</a>
                </span>
            </p>
            {% include "post/pagination.html" with page=posts %}
        {% endblock content %}
    </body>
</html>
