<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        {% load static i18n %}
        <!-- meta header and css -->
        {% block css %}{% include "_includes/css.html" %}{% endblock css %}
        <!-- ./meta header-->
        <!-- titre -->
        <title>
            {% block title %}
                {% if page_title %}
                    {{ page_title }} |
                {% endif %}
                {{ site_name }}
            {% endblock title %}
        </title>
        <!-- ./titre -->
    </head>


    <body>
        <!-- include navbar here -->
        {% include "_includes/header.html" %}

        {% block content %}
            <!-- include content here -->
            {% block hero_area %}
                <div class="hero-area">
                    <div class="container">
                        <div class="row align-items-center">
                            <div class="col-12 col-lg-8">
                                <!-- breaking News Widget -->
                                    {% include "_includes/breaking.html" %}
                                <!-- breaking News Widget -->
                            </div>

                            <!-- Hero Add -->
                            <div class="col-12 col-lg-4">
                                <div class="hero-add">
                                    <a href="#">
                                        <img src="{% static "img/bg-img/hero-add.gif" %}" alt="">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endblock hero_area %}
            <!-- end include hero-area here -->

            <!-- include featured-post-area here -->
            {% block featured_post_area %}
            {% endblock featured_post_area %}
            <!-- end include featured-post-area here -->

            <!-- include Popular News Area  here -->
            {% block popular_news_area %}
            {% endblock popular_news_area %}
            <!-- end include Popular News Area here -->

            <!-- include Editorial Post Area  here -->
            {% block editorial_post_area %}
            {% endblock editorial_post_area %}
            <!-- end include Editorial Post Area here -->
        {% endblock content %}

        <!-- include footer here -->
        {% include "_includes/footer.html" %}
        <!-- include script here -->
        {% include "_includes/scripts.html" %}
    </body>
</html>
