<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static blog_tags i18n %}
        <!-- meta header and css -->
        {% block css %}{% include "_includes/meta.html" %}{% endblock css %}
        <!-- ./meta header-->
        <!-- titre -->
        <title>
            {{ site_name }} &smid;
            {% block title %}
                {% if page_title %}
                    {{ page_title }}
                {% else %}
                    {{ meta_description|truncatewords:5 }}
                {% endif %}
            {% endblock title %}
        </title>
        <!-- ./titre -->
    </head>


    <body>
        <!-- include navbar here -->
        {% include "_includes/header.html" %}

        {% block content %}
            <!-- include content here -->
            {% block hero_area %}
            {% endblock hero_area %}
            <!-- end include hero-area here -->

            <!-- include featured-post-area here -->
            {% block featured_post_area %}
            {% endblock featured_post_area %}
            <!-- end include featured-post-area here -->

            <!-- include Popular News Area  here -->
            {% block popular_news_area %}
            {% endblock popular_news_area %}
            <!-- end include Popular News Area here -->

            <!-- include Editorial Post Area  here -->
            {% block editorial_post_area %}
            {% endblock editorial_post_area %}
            <!-- end include Editorial Post Area here -->

            <!-- include footer here -->
            {% include "_includes/footer.html" %}
        {% endblock content %}
        <!-- include script here -->
        {% include "_includes/scripts.html" %}
    </body>
</html>
